<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ams.studentattendance"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".context.ApplicationContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentAttendance"
        tools:targetApi="31">
        <activity
            android:name=".activity.ViewAttendanceFaculty"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UploadAttendanceFaculty"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MarkAttendanceFaculty"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewAttendance"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UploadAttendance"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MarkAttendance"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewStudentFaculty"
            android:exported="false" />
		<activity
            android:name=".activity.ResetPassword"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewFacultyProfile"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewAssignedSubjects"
            android:exported="false" />
        <activity
            android:name=".activity.FacultySubjectMappingDetails"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewFacultySubjectMapping"
            android:exported="false" />
        <activity
            android:name=".activity.AddFacultySubjectMapping"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewAdminProfile"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.StudentDetails"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewStudent"
            android:exported="false" />
        <activity
            android:name=".activity.AddStudent"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AddFaculty"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FacultyDetails"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ViewFaculty"
            android:exported="false" />
        <activity
            android:name=".activity.FacultyDashboard"
            android:exported="false" />
        <activity
            android:name=".activity.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".activity.LoginScreen"
            android:exported="false"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>